/*
* @name Clippy loader
* @author m6
* @description funny clipy loading icon for discord, forked from shiggy loader blisterexe 
* @version 1.0
*/

.container_a2f514.fixClipping_efbae7 > .content_a2f514 {
  position: relative;
}
.container_a2f514.fixClipping_efbae7 > .content_a2f514 .ready_a2f514 {
  display: none;
}
.container_a2f514.fixClipping_efbae7 > .content_a2f514 .ready_a2f514 + .text_a2f514 {
  top: 50px;
}
.container_a2f514.fixClipping_efbae7 > .content_a2f514::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  background: url("https://github.com/emmsixx/clippy-loader/blob/main/clippy.gif?raw=true") center/80% no-repeat !important;
  image-rendering: pixelated;
}
