/*
* @name Shiggy loader
* @author blisterexe
* @description funny shiggy loading icon for discord 
* @version 1.0
*/

:root .container__827e6 > .content__de05de {
  position: relative;
}
:root .container__827e6 > .content__de05de .ready__61f2f {
  display: none;
}
:root .container__827e6 > .content__de05de .ready__61f2f + .text__32559 {
  top: 50px;
}
:root .container__827e6 > .content__de05de::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  background: url("https://github.com/Blisterexe/shiggy-loader/blob/main/shiggy.gif?raw=true") center/80% no-repeat !important;
  image-rendering: pixelated;
}
